

<h2 mat-dialog-title>
  Notification Settings
</h2>
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row" [formGroup]="f">
      <div class="col-md-12 py-5">
        <mat-slide-toggle formControlName="hasPaystubNotifier">Send new paystubs</mat-slide-toggle>
      </div>

      <mat-form-field *ngIf="f.get('hasPaystubNotifier')?.value" class="col-md-12 py-5">
        <mat-label>Delivery Method</mat-label>
        <mat-select formControlName="paystubNotifierType">
          <mat-option>-- Select --</mat-option>
          <mat-option value="0">E-mail</mat-option>
          <!-- <mat-option value="1">SMS</mat-option> -->
        </mat-select>
        <mat-hint>
          How would you like the paystub delivered?
        </mat-hint>
      </mat-form-field>

      <mat-form-field *ngIf="f.get('hasPaystubNotifier')?.value" class="col-md-12 py-5">
        <!-- <mat-label>{{ f.get('paystubNotifierType').value == 0 ? 'Send to E-mail' : 'Phone number to send to' }}</mat-label> -->
        <mat-label>Send to Email Address</mat-label>
        <input type="text" matInput formControlName="notifierDestination" placeholder="Send To" [required]="f.get('hasPaystubNotifier')?.value" />
        <mat-error *ngIf="f.get('notifierDestination').hasError('required')">
          Please enter a destination to send paystubs to
        </mat-error>
      </mat-form-field>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button type="button" mat-button (click)="cancel()">
    Cancel
  </button>

  <button type="button" mat-raised-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>
