
<div mat-dialog-title style="display:flex !important;">
    <div>Reset Password</div>
    <div class="spacer"></div>
    <button type="button" mat-icon-button (click)="closeDialog()">
        <mat-icon>clear</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <form [formGroup]="f" class="form-container">
        <mat-form-field>
            <mat-label>New Password</mat-label>
            <input type="password" matInput formControlName="password" required />
            <mat-error *ngIf="f.get('password')?.hasError('required')">
                Please enter a password.
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Verify New Password</mat-label>
            <input type="password" matInput formControlName="verifyPassword" required />
            <mat-error *ngIf="f.get('verifyPassword')?.hasError('required')">
                Please verify your new password.
            </mat-error>
            <mat-error *ngIf="f.get('verifyPassword')?.hasError('mismatch')">
                Passwords do not match.
            </mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" (click)="closeDialog()" mat-button>Cancel</button>
    <button type="button" (click)="savePasswordReset()" mat-raised-button color="primary">
        <span>Save</span>
        <mat-icon class="sm-icon">save</mat-icon>
    </button>
</mat-dialog-actions>