.form-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 1rem;
}

.spacer {
    flex: 1 1 auto;
}

.d-flex {
    display: flex;
    justify-content: space-between;
}