
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button type="button" mat-icon-button (click)="selectAllToggle(documents)">
            <mat-icon>{{ getSelectAllIcon(documents) }}</mat-icon>
        </button>
        <button type="button" mat-icon-button (click)="addDocument()">
            <mat-icon class="action-icon">add</mat-icon>
        </button>
        <ng-container *ngIf="documents.selectedOptions.selected.length">
            <button type="button" mat-icon-button (click)="deleteDocument()">
                <mat-icon class="action-icon">delete</mat-icon>
            </button>
        </ng-container>
    </mat-toolbar-row>
</mat-toolbar>
<mat-selection-list #documents>
    <mat-list-option *ngFor="let doc of docs$|async" checkboxPosition="before" [value]="doc">
        <a class="d-flex justify-content-between align-items-center" (click)="openDocument($event, doc)"
            [href]="'/uploads/' + doc.filePath" target="_blank">
            <span>{{ doc.name }}</span>

            <div>
                <mat-icon>open_in_new</mat-icon>
            </div>
        </a>
    </mat-list-option>
</mat-selection-list>
