$text-muted: rgba(0, 0, 0, 0.54);

.mat-column-isActive {
    max-width: 120px !important;
}

.agent-disabled {
    font-style: italic;

    * {
        color: $text-muted;
    }
}

.mat-column-edit {
    max-width: 70px !important;
    color: $text-muted;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-form-field-suffix {
  cursor: pointer;
}

.click-row {
  cursor: pointer !important;
}
