/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
/public/uploads/
cmp/package-lock.json
public/dist
cmp/package-lock.json
public/dist/cmp
.phpstorm.meta.php
_ide_helper.php
.DS_Store
.angular
