/* You can add global styles to this file, and also import other style files */
@import './styles/material';
@import './styles/theme';
@import './styles/utilities';
@import './styles/typography';
@import './styles/spacing';
// @import '../node_modules/devextreme/dist/css/dx.common.css';
// @import '../node_modules/devextreme/dist/css/dx.material.blue.light.css';
// @import './styles/devextreme.material.light.blue';

/* You can add global styles to this file, and also import other style files */

$cmp-background: #ebeaea;

html, body { height: 100%; background-color: $light-background; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.site-content {
    background-color: $cmp-background;
}

.spacer {
    flex: 1 1 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
