$text-muted: rgba(0, 0, 0, 0.54);

.mat-column-isActive {
    max-width: 80px !important;
}

.agent-disabled {
    font-style: italic;

    * {
        color: $text-muted;
    }
}

.mat-column-edit {
    max-width: 70px !important;
    color: $text-muted;
}

.spacer {
    flex: 1 1 auto;
}

::ng-deep .mat-form-field {
    color: white !important;
}

::ng-deep .mat-form-field-autofill {
    color: white;
}

::ng-deep .mat-form-field-placeholder {
    color: white;
}

::ng-deep .mat-focused .mat-form-field-placeholder {
    color: white;
}

::ng-deep .mat-form-field-underline .mat-form-field-ripple {
    background-color: white;
}

::ng-deep .mat-form-field-underline {
    background-color: white;
}
