<div class="row" [formGroup]="f" (paste)="onPaste($event)">
  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h2>{{ isNew ? 'New Invoice' : 'Editing Invoice' }}</h2>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field>
          <mat-label>Vendors</mat-label>
          <mat-select formControlName="vendor" required>
            <mat-option *ngFor="let option of vendorOptions$|async" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Agents</mat-label>
          <mat-select formControlName="agent" required>
            <mat-option *ngFor="let option of agentOptions$|async" [value]="option.id">
              {{option.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Issue Dates</mat-label>
          <mat-select formControlName="issueDate" required>
            <mat-option *ngFor="let option of issueDates$|async" [value]="option">
              {{option | date:'shortDate'}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Weekending</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="weekending" required disabled />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>Sales</h3>
        </mat-card-title>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="addInvoiceRow()">
              <mat-icon>add</mat-icon>
              <span>Add</span>
            </button>
            <button mat-menu-item (click)="clearInvoiceTable()" *ngIf="formInvoices?.length > 1">
              <mat-icon>delete_sweep</mat-icon>
              <span>Delete All</span>
            </button>
            <button mat-menu-item (click)="toggleMultiSelectMode(true)" *ngIf="!isMultiSelectMode">
              <mat-icon>check_box</mat-icon>
              <span>Select</span>
            </button>
            <button mat-menu-item (click)="toggleMultiSelectMode(false)" *ngIf="isMultiSelectMode">
              <mat-icon>check_box_outline_blank</mat-icon>
              <span>Cancel Select</span>
            </button>
          </mat-menu>
          <!-- <button type="button" mat-icon-button (click)="clearInvoiceTable()" *ngIf="formInvoices.length > 1">
            <mat-icon>delete_forever</mat-icon>
          </button>
          <button type="button" mat-icon-button (click)="addInvoiceRow()">
            <mat-icon>add</mat-icon>
          </button> -->
        </div>
      </mat-card-header>

      <mat-card-content class="invoice-tables">
        <mat-table [dataSource]="invoiceDataSource" formArrayName="invoices">
          <ng-container matColumnDef="saleDate">
            <mat-header-cell *matHeaderCellDef>Sale Date</mat-header-cell>
            <mat-cell *matCellDef="let item; let idx = index" [formGroupName]="idx">
              <mat-form-field>
                <input matInput [matDatepicker]="dp" formControlName="saleDate" required />
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp></mat-datepicker>
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="firstName">
            <mat-header-cell *matHeaderCellDef>First Name</mat-header-cell>
            <mat-cell *matCellDef="let item; let idx = index" [formGroupName]="idx">
              <mat-form-field>
                <input matInput formControlName="firstName" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="lastName">
            <mat-header-cell *matHeaderCellDef>Last Name</mat-header-cell>
            <mat-cell *matCellDef="let item; let idx=index" [formGroupName]="idx">
              <mat-form-field>
                <input matInput formControlName="lastName" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="address">
            <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
            <mat-cell *matCellDef="let item; let idx=index" [formGroupName]="idx">
              <mat-form-field>
                <input matInput formControlName="address" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="city">
            <mat-header-cell *matHeaderCellDef>City</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="city" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="status" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInputCurrency formControlName="amount" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index">
              <button type="button" mat-icon-button [matMenuTriggerFor]="rowMenu" *ngIf="!isMultiSelectMode && formInvoices?.length > 1">
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #rowMenu="matMenu">
                <button mat-menu-item (click)="removeInvoice(i)">
                  <mat-icon>delete_forever</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>

              <mat-checkbox (change)="checkedMultiSelectDelete($event.checked ? item?.value : null)" *ngIf="isMultiSelectMode && formInvoices?.length > 1">
                &nbsp;
              </mat-checkbox>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="salesCols"></mat-header-row>
          <mat-row *matRowDef="let row; columns: salesCols; let idx = index"></mat-row>
        </mat-table>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Overrides</h3>
        </mat-expansion-panel-header>

        <div class="mat-table-header-action-row">
          <button type="button" mat-icon-button (click)="addOverrideRow()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-table [dataSource]="overrideDataSource" formArrayName="overrides">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="name" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numSales">
            <mat-header-cell *matHeaderCellDef># Sales</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="sales" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="commission">
            <mat-header-cell *matHeaderCellDef>Commission</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInputCurrency formControlName="commission" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total">
            <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInputCurrency formControlName="total" required readonly />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index">
              <button type="button" mat-icon-button (click)="removeOverride(i)" *ngIf="formOverrides.length > 1">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="overridesCols"></mat-header-row>
          <mat-row *matRowDef="let row; columns: overridesCols"></mat-row>
        </mat-table>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <h3>Expenses</h3>
        </mat-expansion-panel-header>

        <div class="mat-table-header-action-row">
          <button type="button" mat-icon-button (click)="addExpenseRow()">
            <mat-icon>add</mat-icon>
          </button>
        </div>
        <mat-table [dataSource]="expenseDataSource" formArrayName="expenses">
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="type" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="amount">
            <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInputCurrency formControlName="amount" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="notes">
            <mat-header-cell *matHeaderCellDef>Notes</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index" [formGroupName]="i">
              <mat-form-field>
                <input matInput formControlName="notes" required />
              </mat-form-field>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
            <mat-cell *matCellDef="let item; let i=index">
              <button type="button" mat-icon-button (click)="removeExpense(i)" *ngIf="formExpenses.length > 1">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="expenseCols"></mat-header-row>
          <mat-row *matRowDef="let row; columns: expenseCols"></mat-row>
        </mat-table>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div>
    <mat-card>
      <mat-card-content class="invoice-tables action-row">
        <button type="button" mat-flat-button (click)="toggleMultiSelectMode(false)" *ngIf="isMultiSelectMode">
          <mat-icon>clear</mat-icon> Cancel
        </button>

        <button mat-raised-button color="warn" *ngIf="isMultiSelectMode && formInvoices?.length > 1" (click)="confirmDelete()">
          <mat-icon>delete_forever</mat-icon>
          <span>Delete</span>
        </button>

        <button type="button" mat-flat-button color="primary" (click)="save()" *ngIf="!isMultiSelectMode">
          <mat-icon>save</mat-icon> Save
        </button>

        <button type="button" mat-flat-button *ngIf="isNew && !isMultiSelectMode" (click)="cancel()">
          <mat-icon>clear</mat-icon> Cancel
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
