@import '../styles/theme';

$section-title-font-size: 2.5rem;

.container {
  height: 900px;
  background: linear-gradient(90deg, #183b78 70%, #bdbdbd 30%);
  display: grid;
  grid-template-rows: 80px 1fr 120px;

  .hero-header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;

    .hero-icon, .hero-menu, .login-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .body-content {

    .hero-row {
      display: grid;
      grid-template-columns: 2fr 4fr;

      .hero-slogan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem;
        color: $light-primary-text;

        h1 {
          letter-spacing: 1.2px;
          line-height: 3rem;
          font-weight: 400;
        }
      }

      .hero-city {
        // background-size: contain;
        // background-image: url('~src/assets/gummy-city.svg');
        // background-repeat: no-repeat;
        height: 800px;
        overflow: hidden;

        img {
          max-height: 800px;
          width: auto;
        }
      }
    }

    .partners-header {
      @include font-lora();
      font-size: $section-title-font-size;
      text-transform: uppercase;
      padding: 2rem;
      text-align: center;
    }

    .partners {
      margin: 2rem;
      padding: 2rem;

      display: grid;
      grid-template-columns: repeat(auto-fill, 400px);
      grid-template-rows: repeat(auto-fill, 250px);
      gap: 1rem 1.5rem;

      .img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }


  } // .body-content

  .footer {

  }

}

.hero-menu {
  @include get-theme(color, accent);
}

.lora {
  @include font-lora();
}

.section-details {
  background-color:$light-background;
  display: grid;
  grid-template-rows: 600px 700px 600px;

  .agents-section, .testimontials {
    display: grid;
    grid-template-rows: 80px 1fr;
    margin: 2rem 0;

    .agents-title, .testimontials-title {
      @include font-lora();
      font-size: $section-title-font-size;
      @extend .mat-text-primary;
      display: flex;
      justify-content: center;
    }

    .agents-section-detail, .testimontials-detail {
      display: flex;
      justify-content: space-evenly;

      .agents-section-detail-text, .testimontials-detail-text {
        display: flex;
        align-items: center;

        .agent-perks, .testimonials-info {
          line-height: 2rem;
        }
      }
    }
  }

  .incentives {
    display: grid;
    grid-template-rows: 80px 1fr;
    margin: 2rem 0;

    .incentives-title {
      @include font-lora();
      font-size: $section-title-font-size;
      @extend .mat-text-primary;
      display: flex;
      justify-content: center;
    }

    .incentives-content {
      display: flex;
      justify-content: space-around;

      .mat-card {
        max-width: 300px;
        background: transparent;
        box-shadow: none;
        border-radius: 0;
        border: none;
      }
    }
  }

  .testimonials {
    display: grid;
    grid-template-rows: 80px 1fr;
    margin: 2rem 0;

    .testimonials-title {
      @include font-lora();
      font-size: $section-title-font-size;
      @extend .mat-text-primary;
      display: flex;
      justify-content: center;
    }

    .testimonials-detail {
      display: flex;
      justify-content: space-around;
      max-width: 100%;
      padding: 0 2rem 2rem 2rem;

      .testimonials-detail-text {
        display: flex;
        align-items: center;
        padding-left: 4rem;
        flex-grow: 1;

        .testimonials-info {
          line-height: 2rem;
        }
      }

      .testimonials-detail-graphic {
        flex-shrink: 1;
      }
    }
  }
}
