
<div class="hero-banner">
  <div class="hero-header">
    <div class="hero-icon">
      ICON
    </div>

    <div class="hero-menu">
      <a mat-button class="text-uppercase">Agents</a>

      <a mat-button class="text-uppercase">Customers</a>

      <a mat-button class="text-uppercase">Incentives</a>

      <a mat-button class="text-uppercase">Clients</a>
    </div>

    <div class="login-menu">
      <a mat-flat-button color="primary" class="text-uppercase">
        <span>Login</span>
        <mat-icon>login</mat-icon>
      </a>
    </div>
  </div>

  <div class="hero-body">
    BODY
  </div>
</div>
