
<div class="container">
  <div class="hero-header">
    <div class="hero-icon">
      ICON
    </div>

    <div class="hero-menu">
      <a mat-button class="text-uppercase">Agents</a>

      <a mat-button class="text-uppercase">Customers</a>

      <a mat-button class="text-uppercase">Incentives</a>

      <a mat-button class="text-uppercase">Clients</a>

      <a mat-button class="text-uppercase">Contact</a>
    </div>

    <div class="login-menu">
      <a mat-flat-button class="text-uppercase">
        <span>Login</span>
        <mat-icon inline="true">login</mat-icon>
      </a>
    </div>
  </div>

  <div class="body-content">
    <div class="hero-row">
      <div class="hero-slogan">
        <h1>
          We are marketing professionals by Choice.
          <!-- We are confident in our abilities, our approach and our people, because
          we empower people with Choice. -->
        </h1>
        <div>
          <button type="button" mat-flat-button color="accent">
            Join Now
          </button>
          <button type="button" mat-stroked-button color="accent">
            Learn More
          </button>
        </div>
      </div>

      <div class="hero-city">
        <img src="dist/cmp/assets/delesign/entrepreneur.svg" />
      </div>
    </div>

    <h2 class="partners-header">
      Our Partners
    </h2>

    <div id="partners" class="partners">
      <div class="img-wrapper">
        <img src="images/clients/att.png" class="img-fluid" />
      </div>

      <div class="img-wrapper">
        <img src="images/clients/charter.png" class="img-fluid" />
      </div>

      <div class="img-wrapper">
        <img src="images/clients/continuum.jpg" class="img-fluid" />
      </div>

      <div class="img-wrapper">
        <img src="images/clients/directv.png" class="img-fluid" />
      </div>

      <div class="img-wrapper">
        <img src="images/clients/palmco.jpeg" class="img-fluid" />
      </div>

      <div class="img-wrapper">
        <img src="images/clients/santanna.jpeg" class="img-fluid" />
      </div>
    </div>

    <div id="agents">
      TESTINGS
    </div>

    <div id="customers">

    </div>

    <div id="incentives">

    </div>
  </div>

  <div class="footer">

  </div>
</div>
