@import '../styles/theme';

.hero-banner {
  height: 100vh;
  background: linear-gradient(90deg, #183b78 67%, #ffffff 33%);

  .hero-header {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 1rem;

    .hero-icon, .hero-menu, .login-menu {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}

.hero-menu {
  @include get-theme(color, accent);
}

