<div class="container">
  <div class="hero-header">
    <div class="hero-icon">
      ICON
    </div>

    <div class="hero-menu">
      <a mat-button class="text-uppercase">Agents</a>

      <a mat-button class="text-uppercase">Customers</a>

      <a mat-button class="text-uppercase">Incentives</a>

      <a mat-button class="text-uppercase">Partners</a>

      <a mat-button class="text-uppercase">Contact</a>
    </div>

    <div class="login-menu">
      <a mat-flat-button class="text-uppercase">
        <span>Login</span>
        <mat-icon inline="true">login</mat-icon>
      </a>
    </div>
  </div>

  <div class="body-content">
    <div class="hero-row">
      <div class="hero-slogan">
        <h1 class="lora">
          We are marketing professionals by Choice.
          <!-- We are confident in our abilities, our approach and our people, because
          we empower people with Choice. -->
        </h1>
        <div>
          <a type="button" mat-flat-button color="accent">
            Join Now
          </a>
          <a type="button" mat-stroked-button color="accent" href="#agents">
            Learn More
          </a>
        </div>
      </div>

      <div class="hero-city">
        <img src="dist/cmp/assets/delesign/entrepreneur.svg" />
      </div>
    </div>

    <div class="section-details">
      <div id="agents" class="agents-section">
        <div class="agents-title">
          <span>Why you should become an agent of Choice</span>
        </div>

        <div class="agents-section-detail">
          <div class="agents-section-detail-text">
            <div>
              <h1 class="mat-text-accent lora">Be in control of your future</h1>

              <ul class="agent-perks">
                <li>Salary plus Commission opportunities</li>
                <li>Competitive energy affiliate</li>
                <li>Weekly bonuses & Daily Incentives</li>
                <li>All-expense paid vacation opportunities</li>
              </ul>
            </div>
          </div>

          <div class="agents-section-detail-graphic">
            <img src="dist/cmp/assets/delesign/goal.svg" style="height: 100%; width: auto;" />
          </div>
        </div>
      </div>

      <div id="incentives">
        INCENTIVES
      </div>

      <div id="customers">
        CUSTOMERS
      </div>

      <h2 class="partners-header mat-text-primary mat-background-accent">
        Our Partners
      </h2>

      <div id="partners" class="partners">
        <div class="img-wrapper">
          <img src="images/clients/att.png" class="img-fluid" />
        </div>

        <div class="img-wrapper">
          <img src="images/clients/charter.png" class="img-fluid" />
        </div>

        <div class="img-wrapper">
          <img src="images/clients/continuum.jpg" class="img-fluid" />
        </div>

        <div class="img-wrapper">
          <img src="images/clients/directv.png" class="img-fluid" />
        </div>

        <div class="img-wrapper">
          <img src="images/clients/palmco.jpeg" class="img-fluid" />
        </div>

        <div class="img-wrapper">
          <img src="images/clients/santanna.jpeg" class="img-fluid" />
        </div>
      </div>
    </div>

  </div>

  <div class="footer">

  </div>
</div>
