
<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
  <div class="col-auto d-flex justify-content-center">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
          <button mat-icon-button (click)="goBack()">
            <mat-icon>arrow_back</mat-icon>
          </button>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="dist/cmp/assets/lock.jpg" class="p-5" alt="vecteezy.com">
      <mat-card-content class="d-flex flex-column">
        <ng-container [formGroup]="f">
          <mat-form-field>
            <mat-label>Current Password</mat-label>
            <input matInput type="password" formControlName="oldPassword" autocomplete="off">
            <mat-error *ngIf="f.get('oldPassword')?.hasError('required')">
              Current password is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>New Password</mat-label>
            <input matInput type="password" formControlName="newPassword" autocomplete="off">
            <mat-error *ngIf="f.get('newPassword')?.hasError('required')">
              New password is required
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword" autocomplete="off">
            <mat-error *ngIf="f.get('confirmPassword')?.hasError('required')">
              Password confirmation is required
            </mat-error>
          </mat-form-field>

        </ng-container>
      </mat-card-content>

      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="changePassword()">Save</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
