<div class="row search-container" [formGroup]="f">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1">
    <mat-card class="search-card">
      <mat-card-header>
        <div mat-card-avatar>
          <!-- <i class="fa fa-bank"></i> -->
          <mat-icon>account_balance</mat-icon>
        </div>
        <mat-card-title>Paystubs</mat-card-title>
        <mat-card-subtitle>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field appearance="outline" hideRequiredMarker="true">
                <mat-label>Select a Date Range</mat-label>
                <mat-date-range-input formGroupName="range" [rangePicker]="rangePicker">
                  <input matStartDate #startDate formControlName="start" placeholder="Start Date">
                  <input matEndDate #endDate formControlName="end" placeholder="End Date"
                    (dateChange)="dateRangeChange(startDate, endDate)">
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker [dateClass]="dateClass" #rangePicker>
                  <mat-date-range-picker-actions>
                    <button mat-button matDateRangePickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                  </mat-date-range-picker-actions>
                </mat-date-range-picker>

                <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
                <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
              </mat-form-field>

              <ng-container *ngIf="showTools">
                <button type="button" mat-raised-button [mat-menu-trigger-for]="menu" color="primary">
                  <mat-icon>menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="sendPaytubNotifications()">
                    <mat-icon>send</mat-icon>
                    <span>Send Paystubs</span>
                  </button>
                </mat-menu>
              </ng-container>
            </div>

            <div class="col-md-12 d-flex">
              <mat-form-field appearance="outline" hideRequiredMarker="true" class="wp-100">
                <mat-label>Campaign(s)</mat-label>
                <mat-chip-list #campaignList aria-label="Campaign selection">
                  <mat-chip *ngFor="let v of selectedVendors" [removable]="v?.id > -1" (removed)="removeVendor(v)">
                    {{v.name}}
                    <mat-icon matChipRemove *ngIf="v?.id > -1">cancel</mat-icon>
                  </mat-chip>
                  <input type="text" placeholder="New campaign..." #vendorInput formControlName="vendorSearch"
                    [matAutocomplete]="vendorAuto" [matChipInputFor]="campaignList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addVendor($event)">
                </mat-chip-list>
                <mat-autocomplete #vendorAuto="matAutocomplete" (optionSelected)="vendorSelected($event)">
                  <mat-option *ngFor="let v of filteredVendors" [value]="v?.id">
                    {{v?.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="vendorControl.hasError('required')">
                  Please select a campaign
                </mat-error>
              </mat-form-field>
            </div>

            <div class="col-md-12 d-flex">
              <mat-form-field appearance="outline" hideRequiredMarker="true" class="wp-100">
                <mat-label>Agent(s)</mat-label>
                <mat-chip-list #agentList aria-label="Agent selection">
                  <mat-chip *ngFor="let a of selectedAgents" [removable]="a?.id > -1" (removed)="removeAgent(a)">
                    {{a?.name}}
                    <mat-icon matChipRemove *ngIf="a?.id > -1">cancel</mat-icon>
                  </mat-chip>
                  <input type="text" placeholder="New agent..." #agentInput formControlName="agentSearch"
                    [matAutocomplete]="agentAuto" [matChipInputFor]="agentList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="addAgent($event)">
                </mat-chip-list>
                <mat-autocomplete #agentAuto="matAutocomplete" (optionSelected)="agentSelected($event)">
                  <mat-option *ngFor="let a of filteredAgents" [value]="a?.id">
                    {{a?.name}}
                  </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="agentControl.hasError('required')">
                  Please select an agent
                </mat-error>
              </mat-form-field>
            </div>
          </div>

        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <ng-container *ngIf="(isLoading$|async) === true">
          <div class="row">
            <div class="col-md-12">
              <mat-spinner style="margin: 0 auto;"></mat-spinner>
            </div>
          </div>
        </ng-container>

        <ng-container *ngIf="(isLoading$|async) === false && (paystubs$ | async)?.length > 0; else noPaystubs">
          <div class="row">
            <!-- <div class="col-md-12 d-flex justify-content-center align-items-center">
              <mat-card>
                <mat-card-header>
                  <mat-card-title>
                    Gross Payroll
                  </mat-card-title>
                  <mat-card-content>
                    {{ grossPayroll | currency }}
                  </mat-card-content>
                </mat-card-header>
              </mat-card>
            </div> -->

            <div class="col-md-12">
              <mat-table matSort class="mat-elevation-z2" [dataSource]="paystubs"
                (matSortChange)="sortPaystubs($event)">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Agent Name</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.agentName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="vendor">
                  <mat-header-cell *matHeaderCellDef mat-sort-header>Campaign</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.vendorName }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                  <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.amount | currency }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                  <mat-cell *matCellDef="let item">{{ item.issueDate | date:'shortDate' }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['name', 'vendor', 'amount', 'date']"></mat-header-row>
                <mat-row class="clickable" *matRowDef="let row; columns: ['name', 'vendor', 'amount', 'date']"
                  (click)="showPaystubDetail(row)"></mat-row>
              </mat-table>
            </div>
          </div>
        </ng-container>
        <ng-template #noPaystubs>
          <div class="row" *ngIf="(isLoading$|async) === false">
            <div class="col-xs-12">
              <h3>No Paystubs</h3>
            </div>
          </div>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
