
// Scaffolding

.p-10 {
  padding: 10px !important;
}

.pt-5 {
  padding-top: 5px !important;
}

.pt-10 {
  padding-top: 10px !important;
}

.pt-20 {
  padding-top: 20px !important;
}

.pt-25 {
  padding-top: 25px !important;
}

.pt-30 {
  padding-top: 30px !important;
}

.pt-35 {
  padding-top: 35px !important;
}

.pt-40 {
  padding-top: 40px !important;
}

.pt-45 {
  padding-top: 45px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-60 {
  padding-top: 60px !important;
}

.pt-70 {
  padding-top: 70px !important;
}

.pt-80 {
  padding-top: 80px !important;
}

.pt-90 {
  padding-top: 90px !important;
}

.pt-100 {
  padding-top: 100px !important;
}

.pr-10 {
  padding-right: 10px !important;
}

.pr-25 {
  padding-right: 25px !important;
}

.pr-50 {
  padding-right: 50px !important;
}

.pr-60 {
  padding-right: 60px !important;
}

.w-10 {
  width: 10px !important;
}

.w-20 {
  width: 20px !important;
}

.w-30 {
  width: 30px !important;
}

.w-40 {
  width: 40px !important;
}

.w-50 {
  width: 50px !important;
}

.w-60 {
  width: 60px !important;
}

.w-70 {
  width: 70px !important;
}

.w-80 {
  width: 80px !important;
}

.w-90 {
  width: 90px !important;
}

.w-100 {
  width: 100px !important;
}

.w-140 {
  width: 140px !important;
}

.w-160 {
  width: 160px !important;
}

.w-200 {
  width: 200px !important;
}

.w-600 {
  width: 600px !important;
}

.w-650 {
  width: 650px !important;
}

.w-675 {
  width: 675px !important;
}

.w-700 {
  width: 700px !important;
}

.h-700 {
  height: 700px !important;
}

.line-break-50 {
  padding-top: 25px;
  padding-bottom: 25px;
}

hr.paystub-title-break {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8b8b inset;
  border-radius: 10px;
}


// fonts

.strong {
  font-weight: bold;
}




// colors

.bg-blue {
  background: #336699 !important;
  color: #ffffff !important;
}

.bg-white {
  background: #fff !important;
}


.paystub-header {
  border-collapse: separate;
  border-radius: 5px;
  background-color: #006DCC;
  background-image: linear-gradient(to bottom, #00abff, #006DCC);
  color: white;

  h1 {
    padding-left: 5px;
    padding-top: 15px;
  }

  small {
      color: #EEEEEE;
  }

  .row {
    padding: 5px;
  }
}


.paystub-break {
  clear: both;
  width: 100%;
  background-color: #939393 !important;
  height: 4px;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.datepicker-hot {
  position: relative;
  z-index: 900;
}

.nav .navbar-nav .navbar-right {
  z-index: 901;
}


.paystub {


  table {
    border-collapse: separate;
    border-radius: 0 5px;

    thead {


      th {
        background-color: #006DCC;
        color: white;

      }
    }


    tbody {


      td {
        background-color: #F0F8FF;
      }
    }

    tr {

      td:first-child,
      th:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      td:last-child,
      th:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }
  }
}


.navbar-title-text {
  color: #FFF !important;
}


.overridesTable {
  max-width: 900px;
  max-height: 500px;
}


// footer
html, body {
  height: 100%;
  background: linear-gradient(to bottom, #e9e9e9 0%, #f0f0f0 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.wrapper {
  min-height: 100%; 
  height: auto !important; 
  height: 100%;
}

.site-footer {
  position: absolute;
  width: 100%;
  height: 100px;
}

// hyperlink styles

.icon-link {
  color: inherit;
  text-decoration: none;
  border: 0;
  padding: 2px;

    &:hover {
      color: #919191;
      cursor: pointer;
    }
}

.control-label {
  font-size: 16px;
}