<nb-layout>

  <nb-layout-header fixed>
    <div class="header-row">
      <button type="button" nbButton ghost (click)="toggleMenu()">
        <nb-icon icon="grid-outline"></nb-icon>
      </button>

      <h3>Choice Marketing</h3>

      <button type="button" nbButton ghost (click)="logMeOut()">
        <nb-icon icon="log-out-outline"></nb-icon>
      </button>
    </div>
  </nb-layout-header>

  <nb-sidebar state="collapsed" responsive="true"></nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
