<nb-layout>

  <nb-layout-header fixed>
    <div class="header-row">
      <button type="button" nbButton ghost (click)="toggleMenu()">
        <nb-icon [icon]="sidebarActionIcon"></nb-icon>
      </button>

      <h3>{{title}}</h3>

      <a type="button" nbButton ghost href="/logout">
        <nb-icon icon="log-out-outline"></nb-icon>
      </a>
    </div>
  </nb-layout-header>

  <nb-sidebar state="collapsed" responsive="true" (stateChange)="sidebarStateChanged($event)">
    <nb-card size="large">
      <nb-card-header>
        Hi, User.
      </nb-card-header>
      <nb-list>
        <nb-list-item>
          <nb-icon icon="pricetags-outline"></nb-icon>
          Earnings
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-sidebar>

  <nb-layout-column>

    <router-outlet></router-outlet>

  </nb-layout-column>

  <nb-layout-footer fixed>
    <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
