
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Choice Marketing Partners</span>
        <div class="spacer"></div>
        <button type="button" mat-icon-button>
            <mat-icon>home</mat-icon>
        </button>
        <button mat-icon-button type="button" ></button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #navMenu="matMenu">
    <button mat-menu-item>
        <mat-icon>attach_money</mat-icon>
        <span>Payroll</span>
    </button>
    <button mat-menu-item>
        <mat-icon></mat-icon>
    </button>
</mat-menu>